<footer>
    <link rel='stylesheet' href='stylesheets/headerStyle.css' />
    <link rel="stylesheet" href="stylesheets/footerStyle.css">
    <p>
        Taverna © 2012 - 2021
    </p>
    <p>
        Todos os direitos reservados
    </p>

    <img id="tavernaFooter" src="img/Taverna.png" alt="">
</footer>