<header>
  <link rel='stylesheet' href='stylesheets/headerStyle.css' />
    <nav>
      
      <div id="logo">
        <img id="logoHeader" src="img/Tzinho.png" alt="">
      </div>

      <div id="login">
        <ul>
          <!-- se a variavel usuario vier como 'login' mostra o botao de login -->
          <% if( usuario == 'login'){ %>
          <li><a href="/login">Login</a></li>
          <% } else { %>
            <li><a href="/perfil"><%=usuario%></a></li>
            <%}%>
            <!-- se o usuario for 'login' mostra o cadastrar -->
          <% if(usuario == 'login'){ %>
          <li><a href="/cadastrar">cadastrar</a></li>
          <% } else { %>
            <li><a href="/deslogar">deslogar</a></li>
            <%}%>
        </ul>
      </div>

      <div id="menu">
        <ul>
          <li><a href="/">home</a></li> 
          <li><a href="/abanda">A banda</a></li> 
          <li><a href="">merchan</a></li>
          <li><a href="/media">média</a></li>
          <li><a href="">agenda</a></li>
          <li><a href="">eventos</a></li>
          <li><a href="/contato">contato</a></li>
          <li><a href="/contato">pressKit</a></li>
        </ul>
      </div>
      
      
      
    </nav>
  </header>