<header>
  <link rel='stylesheet' href='stylesheets/headerStyle.css' />
    <nav>
      <div id="logo">
        <img id="logoHeader" src="img/Tzinho.png" alt="">
      </div>
      <div id="menu">
        <ul>
          <li><a href="/">home</a></li> <p>-</p>
          <li><a href="/abanda">a banda</a></li> <p>-</p>
          <li><a href="">merchandise</a></li><p>-</p>
          <li><a href="/media">média</a></li><p>-</p>
          <li><a href="">agenda</a></li><p>-</p>
          <li><a href="">eventos</a></li><p>-</p>
          <li><a href="/contato">contato</a></li>
        </ul>
      </div>
      
      <div id="login">
        <ul>
          <li><a href="/login">Login</a></li><p>-</p>
          <li><a href="/cadastrar">cadastrar</a></li>
        </ul>
      </div>
    </nav>
  </header>