<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='stylesheets/headerStyle.css' /> -->
    <link rel='stylesheet' href='stylesheets/bodyStyle.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
      <%- include('./partials/header') %>
        
          <main>
            
            <h2>A BANDA</h2><br><br>

            Pioneiros no estilo
            folk/celta/medieval
            em Minas Gerais. <br><br>

            Taverna é uma banda mineira
            composta por Mariana
            Roque (vocais/percussão),<br>
            Gustavo “Fofão” (violão),<br>
            Rômulo Salobreña (viola/
            violino/viela de roda),<br>
            Rafael Salobreña (bodhran,
            alfaia, derbak)<br> e João Gabriel
            (bandolin, flautas e gaita de
            fole).<br><br>
            Formada em 2012, a banda
            transporta o público no
            tempo e traz para a realidade
            o universo fan fiction épico
            de filmes, séries e jogos.<br>
            Atualmente estão gravando o
            primeiro álbum em estúdio,
            entitulado “Libertas Quæ
            Sera Tamen”, influenciado
            pela música celta e medieval
            com elementos da cultura
            mineira.<br>
            O grupo realiza diversos
            shows na capital mineira,
            cidades da região e em outros
            estados do Brasil.
          </main>
        </div>
      <%- include('./partials/footer')%>
    </body>
</html>
