<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='stylesheets/headerStyle.css' /> -->
    <link rel='stylesheet' href='stylesheets/bodyStyle.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <h2>Bem Vindo</h2> ao novo site da banda banda Taverna!<br>
      "crie logo sua conta" e comece a explorar este novo universo!
      <hr>
      
        <button><a href="/cadastrar">CRIAR CONTA</a></button>
      
      
    </main>
    <%- include('./partials/footer')%>
  </body>
</html>
