

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='stylesheets/headerStyle.css' /> -->
    <link rel='stylesheet' href='stylesheets/bodyStyle.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    
      <div id="MediaContainer"></div>
      <div id="icones">Ouvir no: <a href=""><img id="appleIcone" class="MediaIcones" src="img/icons/apple.png" alt=""></a> <a href=""><img id="deezerIcone" class="MediaIcones" src="img/icons/deezer.png" alt=""></a> <a href=""><img id="spotifyIcone" class="MediaIcones" src="img/icons/spotify.png" alt=""></a> <a href=""><img id="amazonIcone" class="MediaIcones" src="img/icons/amazon.png" alt=""></a></div>
      <button style="font-size: xx-large;"><a href="https://www.youtube.com/c/BandaTaverna/playlists">Videos</a></button>
    <%- include('./partials/footer')%>
  </body>
  <script src="javascripts/mediaIcones.js"></script>
</html>
