<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='stylesheets/headerStyle.css' /> -->
    <link rel='stylesheet' href='stylesheets/bodyStyle.css' />
  </head>
    <body>
      <%- include('./partials/header') %>
        
          <main>
            
            
          </main>
        </div>
      <%- include('./partials/footer')%>
    </body>
</html>
