

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='stylesheets/headerStyle.css' /> -->
    <link rel='stylesheet' href='stylesheets/bodyStyle.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    
      <iframe src="https://open.spotify.com/embed/artist/4E2XVEYULgAjCObKNyuZim" width="30%" height="400" frameBorder="0" allowtransparency="true" allow="encrypted-media" style="border-radius: 15px;margin-top: 50px;margin-bottom: 50px; align-self: center;"></iframe>
      <button style="font-size: xx-large;"><a href="/audio">Áudio</a></button>
    <%- include('./partials/footer')%>
  </body>
</html>
